.items-app {
  position: relative;
  width: 100%;
  max-width: 800px;
}
.items-app .items-orders .items-order {
  border: 1px solid #eee;
  padding: 10px;
  margin: 10px 0px;
  position: relative;
}
.items-app .items-orders .items-order .order-name {
  width: 186px;
  display: inline-block;
}
.items-app .items-orders .items-order .item {
  width: 32px;
  height: 32px;
  display: inline-block;
  cursor: pointer;
  border-radius: 2px;
  margin: 1px;
}
.items-app .items-orders .items-order .item.placeholder {
  text-align: center;
  color: white;
  font-weight: bold;
  line-height: 30px;
  background-color: #eee;
}
.items-app .items-orders .items-order > .btn-close {
  position: absolute;
  top: 0px;
  right: 5px;
}
.items-app .items-popup {
  position: absolute;
  width: 450px;
  height: auto;
  display: none;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  bottom: -340px;
  left: 180px;
  z-index: 10;
}
.items-app .items-popup.active {
  display: block;
}
.items-app .items-popup .arrow-up {
  top: -12px;
  left: 50%;
  margin-left: -11px;
  border-width: 11px;
  border-top-width: 0;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: #eee;
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}
.items-app .items-popup > .btn-close {
  position: absolute;
  top: 0px;
  right: -3px;
}
.items-app .items-popup .items-filter {
  padding-left: 5px;
  padding-bottom: 5px;
}
.items-app .items-popup .items-list {
  height: 220px;
  overflow-y: scroll;
}
.items-app .items-popup .items-list .item {
  float: left;
  width: 70px;
  height: 91px;
  margin: 5px;
  border: 1px solid #ddd;
  padding: 2px;
  overflow: hidden;
}
.items-app .items-popup .items-list .item:hover {
  cursor: pointer;
  border: 1px solid #08c;
}
.items-app .items-popup .items-list .item span {
  display: block;
  text-align: center;
  color: #333;
}
