.table-skills {
    width: auto !important;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
    & > tbody tr {
        & > th {
            width: 30px;
        }
        & > td {
            width: 10px;
            text-align: center;
            
            &.active {
                background-color: #eeeeee;
            }
        }
    }
}
