.table-skills {
  width: auto !important;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.table-skills > tbody tr > th {
  width: 30px;
}
.table-skills > tbody tr > td {
  width: 10px;
  text-align: center;
}
.table-skills > tbody tr > td.active {
  background-color: #eeeeee;
}
