.icon-48-builds {
      background-image: url(../images/l_builds.png);
      padding-left:60px!important;
}

.icon-48-build {
      background-image: url(../images/l_builds.png);
      padding-left:60px!important;
}

.icon-48-guides {
      background-image: url(../images/l_guides.png);
      padding-left:60px!important;
}

.icon-48-guide {
      background-image: url(../images/l_guides.png);
      padding-left:60px!important;
}

.icon-48-ratings {
      background-image: url(../images/l_ratings.png);
      padding-left:60px!important;
}

.icon-48-rating {
      background-image: url(../images/l_ratings.png);
      padding-left:60px!important;
}

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 1s linear infinite;
}

#builds-wrapper > * {
    float: left;
    margin-right: 5px;
}
